<div id="productCard">
  <div class="product-card _border">
    <div class="item-image">
      <img class="item-image__photo" src="{{product.img}}" alt="Изображение не найдено">
    </div>
    <div class="product-card__name _card-font">
      <span>{{product.name}}</span>
    </div>
    <div class="product-card__price _card-font">
      <span>{{product.price}}</span>
      <span>руб.</span>
    </div>
    <div class="product-card__socks-size">
      <select class="product-card__socks-size _option-text" [(ngModel)]="selectSocksSize">
        <option>39-40</option>
        <option>41-42</option>
        <option>43-44</option>
      </select>
    </div>
    <div class="product-card__in-basket-button _font" (click)="clickInBasket()">
      <span>В корзину</span>
    </div>
  </div>
</div>
