/* You can add global styles to this file, and also import other style files */

/*image format*/
figure {
  margin: 0;
}

img {
  vertical-align: top;
}

/*buttons format*/
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

html {
  min-width: 500px;
  overflow: auto;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.notification-fragment {
  padding: 20px;
  background-color: #EB5757;
}

.notification-fragment._text {
  font-size: 28px;
  line-height: 100%;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #4F4F4F;
}


@media (max-width: 639px) {
  .product-cards-container {
    grid-template-columns: 1fr;
    padding: 5px;
  }

  .modal._basket {
    width: 100%;
    max-height: 100%;
  }

  .menu-button {
    flex: 0 0 100%;
  }

  .button-holder {
    display: none;
  }

  .banner__img {
    display: none;
  }

  .footer__info-box {
    grid-template-columns: 1fr;
    grid-template-areas:
            "zero"
            "first_"
            "second"
            "footer__social-media-container"
            "third"
  }

  .menu__burger-button {
    visibility: visible;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .product-cards-container {
    grid-template-columns: 1fr 1fr;
  }

  .banner._frame {
    width: 100%;
  }

  .modal._basket {
    width: 100%;
  }

  .menu-button {
    flex: 0 0 50%;
  }

  .button-holder._frame {
    margin: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .product-cards-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .menu-button {
    flex: 0 0 50%;
  }

  .modal._basket {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .product-cards-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .menu-button {
    flex: 0 0 25%;
  }

  .modal._basket {
    width: 65%;
  }
}

